@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-logo {
  float: left;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;

  &:active {
    outline: none;
  }
}
