@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.badge {
  position: absolute;
  font-size: 10px;
  margin-left: 10px;
  margin-top: -5px;
}

.navbar-logo {
  float: left;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;

  &:active {
    outline: none;
  }
}

i {
  font-size: 24px;
}

.cart,
.search {
  margin-right: 20px;
}

.search {
  input {
    background-color: #e5e5e5;
    padding-left: 25px;
  }

  i {
    position: absolute;
    margin-top: 8px;
    margin-left: 4px;
    font-size: 20px;
  }
}

