<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="navbar-logo" src="assets/ngx-rocket-logo.png" routerLink="/home" alt="angular logo"/>
    <span class="navbar-brand">Angular 5 App</span>
    
    <button class="navbar-toggler" type="button" aria-controls="navbar-menu"
            aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      
      <div class="navbar-nav ml-auto">
        <div class="nav-item search">
            <i class="fa fa-search text-muted" aria-hidden="true"></i>
            <input id="typeahead-format" type="text" class="form-control"
            placeholder="Start typing..."
            [(ngModel)]="searchTerm"
            [ngbTypeahead]="search"
            [resultFormatter]="formatter"
            (selectItem)="itemSelected($event)">
        </div>

        <div class="nav-item cart d-inline-block">
          <a class="nav-link" routerLink="/shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>

        <div class="nav-item d-inline-block" ngbDropdown placement="bottom-right">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fa fa-user-circle"></i>
          </a>
          <div *ngIf="username" ngbDropdownMenu aria-labelledby="user-dropdown">
            <h6 class="dropdown-header">
              <span>Logged in as</span> <b>{{username}}</b></h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </div>
          
          <div *ngIf="!username" ngbDropdownMenu aria-labelledby="user-dropdown">
            <button class="dropdown-item" routerLink="/login">Log in</button>
          </div>
        </div>
      </div>

    </div>

  </nav>
</header>
