<div class="container">
  <div class="row product-details">
    
    <div class="col-md-7">
      <div class="gallery">
        <div class="main-image">
          <img [src]="selectedImage" class="img-fluid mx-auto d-block">
        </div>
        <div class="thumbnails">
          <img [src]="image"
            class="img-fluid mx-auto d-inline"
            [ngClass]="{'active': image == selectedImage }" 
            (click)="selectedImage = image"
            *ngFor="let image of images">
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="content" style="margin-top: 50px;">
          <p class="name">Product One</p>
          <p class="price">Now $130</p>
          <p class="description">
            <span class="heading">Description</span><br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="rating">
              <ngb-rating [rate]="currentRate" max="5" [readonly]="true"></ngb-rating>
            <label>5 review</label>
          </p>
          <div class="customization">
            color:
            <br>
            <label>Material:</label>
            <select class="custom-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            <br>
            quantity
            <br>
            add to cart button
          </div>
      </div>
    </div>

  </div>

  <div class="row" style="height: 400px; border: 1px solid red; border-top: none">
    <div class="reviews">
        <p class="name">Reviews</p>
        <div class="reviews-content">
          
        </div>
    </div>
  </div>
</div>