<div class="container">
  <div *ngIf="contentReady" class="row product-details">

    <div class="col-md-7">
      <div class="gallery">
        <div class="main-image">
          <img [src]="selectedImage" class="img-fluid mx-auto d-block">
        </div>
        <div class="thumbnails">
          <img [src]="image"
            class="img-fluid mx-auto d-inline"
            [ngClass]="{'active': image == selectedImage }" 
            (click)="selectedImage = image"
            *ngFor="let image of product.images">
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="content" style="margin-top: 50px;">
          <p class="name">{{ product.name }}</p>
          <p class="price">Now {{ product.price | currency:'USD'}}</p>
          <p class="description"><span class="heading">Description</span><br>{{ product.description }}</p>
          <!-- <p class="rating">
            <label style="text-decoration: none; margin-left: 0;">Rating:</label>
            <ngb-rating [rate]="currentProduct.rating" max="5" [readonly]="true"></ngb-rating>
            <label>{{ currentProduct.reviews.length }} reviews</label>
          </p> -->
          <div class="customization">
            <label class="d-inline-block align-top">Color:</label>
            <div class="colors d-inline-block">
              <span class="d-inline"
              *ngFor="let color of product.colors"
              [style.background]="color"
              [ngClass]="{'active': selectedColor == color }"
              (click)="selectedColor = color"
              ngbPopover="{{color}}"
              placement="top"
              ></span>
            </div>
            <br>
            <label style="margin-top: 10px;">Material:</label>
            <select class="custom-select" (change)="changeMaterial($event.target.value)">
                <option *ngFor="let material of product.materials">{{ material }}</option>
              </select>
            <br>
            <label style="margin-top: 10px;">Quantity:</label>
            <div class="quantity-selector">
                <i class="fa fa-minus" (click)="decreaseQuantity()" aria-hidden="true"></i>
                <input
                type="text"
                class=""
                [(ngModel)]="quantity"
                (keypress)="validateQuantity($event)"
                (blur)="onBlurQuantity()"
                maxlength="3"
                autocomplete="off">
                <i class="fa fa-plus" (click)="increaseQuantity()" aria-hidden="true"></i>
            </div>
            <br>
            <button type="button" style="margin-top: 10px;" class="btn btn-success" (click)="addToCart()">Add to Cart</button>
            <button type="button" style="margin-top: 10px; margin-left: 20px;" routerLink="/shopping-cart" class="btn btn-secondary">View Cart</button>
          </div>
      </div>
    </div>

  </div>

  <div *ngIf="contentReady" class="reviews">
      <p class="name">Reviews</p>
      <div class="row reviews-content" *ngFor="let review of reviews">
        <div class="col-md-8">
          <div class="review-description">
              <h5>{{ review.heading }}</h5>
              <p>{{ review.description }}</p>
          </div>

          <div class="helpfull">
            <label>Helpfull?</label>
              <button type="button" class="btn btn-secondary">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  {{ review.was_helpful }}
              </button>
              <button type="button" class="btn btn-secondary">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                  {{ review.not_helpful }}
              </button>
          </div>
        </div>
        
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="review-rating">
            <label>Quality:</label>
            <ngb-rating [rate]="review.quality_rating" max="5" [readonly]="true"></ngb-rating>
            
            <label>Design:</label>
            <ngb-rating [rate]="review.design_rating" max="5" [readonly]="true"></ngb-rating>
            
            <label>Comfort:</label>
            <ngb-rating [rate]="review.comfort_rating" max="5" [readonly]="true"></ngb-rating>
            
            <label>Value:</label>
            <ngb-rating [rate]="review.value_rating" max="5" [readonly]="true"></ngb-rating>
          </div>
        </div>
      </div>
  </div>
</div>