<footer>
  <div class="container clearfix">
    <span class="text-muted float-left">Angular 5 App by Marko Martinovic</span>
    <div class="float-right">
      <span class="text-muted align-middle">Connect with us:</span>
        <i class="fa fa-facebook-square align-middle" aria-hidden="true"></i>
        <i class="fa fa-instagram align-middle" aria-hidden="true"></i>
        <i class="fa fa-google-plus-square align-middle" aria-hidden="true"></i>
        <i class="fa fa-twitter-square align-middle" aria-hidden="true"></i>
    </div>
  </div>
</footer>