<div class="container"> <!-- -fluid -->
  <div class="row">
    <!-- Main content -->
    <div class="col-md-12">
      <div class="content-filter">
        <div class="dropdown pull-right">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ filter }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item" *ngFor="let filter of filters; let i = index" (click)="changeFilter(i)">
              {{ filter }}
            </li>
          </ul>
        </div>
        <label class="label-filter pull-right">Sort by:</label>
        <div class="clearfix"></div>
      </div>

      <div class="product-grid-row row" *ngFor="let products of allProducts | chunkBy: 4">
        <div class="col-md-3 col-sm-6 col-xs-12 product-holder" *ngFor="let product of products">
          <div class="product">
            <img [src]="product.coverImg" class="img-fluid mx-auto d-block" (click)="goToProduct(product.id)">
            <div class="product-details">
              <p class="heading" (click)="goToProduct(product.id)">{{ product.name }}</p>
              <p class="description">{{ product.shortDiscription }}</p>
              <div class="price-rating">
                <div class="pull-right price">{{ product.price | currency:'USD'}}</div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
